.wdpr_article_title {
    color: #007acc;
}

.wdpr_article_li {
    color: #333333;
    font-size: .8em;
    text-align: justify;
}

.wdpr_article_quote {

}

.wdpr_article_comment {
    font-style: italic;
    font-size: .7em;
    color: #336633;
    background: #EFE;
    padding: 8px;
    text-align: justify;
}

.wdpr_article_text {
    color: #333333;
    font-size: .8em;
    text-align: justify;
}

.wdpr_form_dt{
    color: #333366;
    font-size: .9em;
    font-style: italic;
}

.wdpr_form_dd {
    color: #333333;
    font-size: .9em;
}

.wdpr_form_description {
    color: #333333;
    font-size: .75em;
    text-align: justify;
    background: #eeeeee;
	padding-left: 6px;
	padding-right: 6px;
}

input:focus {
    background-color: yellow;
}

