.wdpr_article_title {
    color: #007acc;
}

.wdpr_article_li {

}

.wdpr_article_quote {

}

.wdpr_article_text {
    color: #333333;
    font-size: .75em;
    text-align: justify;
}

.wdpr_form_dt{
    color: #333366;
    font-size: .9em;
    font-style: italic;
}

.wdpr_form_dd {
    color: #333333;
    font-size: .9em;
}

.wdpr_form_description {
    color: #333333;
    font-size: .75em;
    text-align: justify;
    background: #eeeeee;
}

input:focus {
    background-color: yellow;
}

